:root {
  --black: #020202;
  --white: #ffffff;
  --blue: #00425c;
  --cyan: #17a2b8;
}

body {
  background-color: var(--cyan);
}

h1 {
  text-align: center;
  margin-top: 40px;
}

.donut-chart {
  padding: 0.5rem;
  border-radius: 0.8rem;
  background-color: var(--white);
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.character {
  display: inline-block;
  text-align: center;
  margin: 0.25rem;
  padding: 0.5rem;
  transition: background-color 0.3s;
  width: 45%;
}

.character:hover {
  background-color: var(--blue);
  color: var(--white);
}

.character-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.character .character-name {
  font-size: larger;
  font-weight: bold;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  max-width: 100%;
}

.character-title {
  font-size: small;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .character {
    width: 180px;
  }
}
